<div class="todo-container">
    <h2>To-Do List</h2>
    <div class="todo">
        <form action="/" method="POST" class="todo-header">
            <input type="text" name="content" required>
            <button type="submit"><span class="fas fa-plus"></span></button>
        </form>
        <ul class="todo-list">
            <% todoTasks.forEach(elem => { %>
                <li class="todo-list-item">
                    <div class="todo-list-item-name"><%= elem.content %></div>
                    <a href="/edit/<%= elem._id %>" class="edit"> <% // send to the todoEdit.ejs %>
                        <span class="fas fa-edit"></span>
                    </a>
                    <a href="/remove/<%= elem._id %>" class="remove">
                        <span class="fas fa-times"></span>
                    </a>
                </li>
            <% }) %>
            </ul>
    </div>
</div>